


.Student{
    background-color: gray;
}

.Student h1{
    margin-left: 400px;
}

body {
    background-color: beige;
    
}


.image {
    float: left;
    margin-left: 50px;
}

.img_tag p {
    margin-left: 50px;
    float: right;
    width: 150px;
}

.Contact {
margin-left: 40pc;
padding-top: 1pc;


}



